@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App,
.App header,
.App main,
.App footer {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

main {
  height: 50vh;
}
